@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Index
    </title>
</head>
<body>
    <h3> Customers of ZorroShop</h3>

    <br />

    <table>
        <thead>
            <tr>
                <td>Address</td>
                <td>Code</td>
                <td>Discount</td>
                <td>Buyer's name'</td>
            </tr>
        </thead>
        <tbody>
            @{
        foreach (var custModels in ViewBag.customerModels){


        }

            }
        </tbody>
    </table>
</body>
</html>